/* ============================= */
/* RESET BÁSICO */
/* ============================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ============================= */
/* VARIABLES GLOBALES COlORES */
/* ============================= */
:root {
  --color-primary: #b80c09;
  --color-secondary: #00e5ff;
  --color-dark: #121212;
  --color-light: #f8f9fa;
  --color-text: #212529;
  --color-muted: #6c757d;
}

body {
  font-family: "Roboto", serif;
  background-color: var(--color-light);
  color: var(--color-text);
  line-height: 1.6;
  font-size: 16px;
}


a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}


main {
  min-height: calc(100vh - 160px); /* header + footer aprox */
  padding: 1.5rem;
}


.text-muted {
  color: var(--color-muted);
}
